nodered/ForecastTab.txt
[{"id":"93d60a50.6c29f8","type":"ibmiot","z":"3cc84ecb.c337b2","name":"API Key 3"},{"id":"cdf5b0f6.320a5","type":"debug","z":"3cc84ecb.c337b2","name":"","active":true,"console":"false","complete":"payload","x":972,"y":49.88885498046875,"wires":[]},{"id":"8dfe2158.7201e","type":"http request","z":"3cc84ecb.c337b2","name":"get forecast.io","method":"GET","ret":"obj","url":"https://4d9de8c3-bcf9-4df5-9724-c12ca6335336:r1Kr6mi9gz@twcservice.mybluemix.net/api/weather/v2/observations/current?units=m&geocode={{payload.latitude}}%2C{{payload.longitude}}&language=en-US","x":411.44439697265625,"y":92.33334350585938,"wires":[["d8c0c028.273f4","ccf5c07c.fcde3"]]},{"id":"afcd90eb.50327","type":"inject","z":"3cc84ecb.c337b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155.44438934326172,"y":50.33335208892822,"wires":[["8dfe2158.7201e"]]},{"id":"b6b1f141.494e1","type":"template","z":"3cc84ecb.c337b2","name":"Parse Forecast","field":"","format":"json","template":"{ \"deviceId\": \"{{deviceId}}\",\n  \"currentTemp\": \"{{payload.temp}}\",\n  \"currentCond\": \"{{payload.phrase_32char}}, {{payload.sky_cover}}\",\n  \"forecast\": \"{{payload.narrative}}\"\n}","x":734.22216796875,"y":58.666656494140625,"wires":[["cdf5b0f6.320a5","1e69fccf.e19603"]]},{"id":"c1ae6357.3e51a","type":"comment","z":"3cc84ecb.c337b2","name":"Get Weather Forecast","info":"","x":518.2221832275391,"y":42,"wires":[]},{"id":"ef142bed.10ebd8","type":"inject","z":"3cc84ecb.c337b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.11105346679688,"y":288.6667013168335,"wires":[["5704d159.a8fb3"]]},{"id":"67e08c3f.981f74","type":"debug","z":"3cc84ecb.c337b2","name":"","active":false,"console":"false","complete":"payload","x":904.4444122314453,"y":282.55560970306396,"wires":[]},{"id":"24060e9e.dbf9f2","type":"comment","z":"3cc84ecb.c337b2","name":"Get Utility Rate Info","info":"","x":557.7777099609375,"y":382.66668701171875,"wires":[]},{"id":"3b282deb.c4d7d2","type":"SmartSolarBatteryInputs","z":"3cc84ecb.c337b2","name":"getUtility","deviceId":"+","eventType":"getUtility","x":134.88883209228516,"y":416.222243309021,"wires":[["5704d159.a8fb3"]]},{"id":"5704d159.a8fb3","type":"http request","z":"3cc84ecb.c337b2","name":"Get Utility Rates","method":"GET","ret":"obj","url":"https://developer.nrel.gov/api/utility_rates/v3.json?api_key=API_KEY&format=JSON&lat={{{payload.latitude}}}&lon={{{payload.longitude}}}","x":325.13883209228516,"y":346.38885402679443,"wires":[["9788f531.687708"]]},{"id":"9788f531.687708","type":"template","z":"3cc84ecb.c337b2","name":"Parse Utility Rates","field":"","format":"json","template":"{ \"deviceId\": \"{{deviceId}}\",\n  \"utility\": \"{{payload.outputs.utility_name}}\",\n  \"utilityRate\": \"{{payload.outputs.residential}}\"\n}","x":547.1388320922852,"y":346.38885402679443,"wires":[["64609730.9b9f68"]]},{"id":"64609730.9b9f68","type":"json","z":"3cc84ecb.c337b2","name":"","x":743.1388320922852,"y":346.38885402679443,"wires":[["67e08c3f.981f74","4773e50b.ee6dcc"]]},{"id":"8af08d00.750f7","type":"inject","z":"3cc84ecb.c337b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.88883209228516,"y":549.1388540267944,"wires":[["c629894d.39d678"]]},{"id":"6ebd2a49.9142d4","type":"debug","z":"3cc84ecb.c337b2","name":"","active":false,"console":"false","complete":"payload","x":927.2221908569336,"y":543.0277624130249,"wires":[]},{"id":"696fb77b.969048","type":"comment","z":"3cc84ecb.c337b2","name":"Get Solar Irradiance Info","info":"","x":550.5555114746094,"y":514.1388368606567,"wires":[]},{"id":"c629894d.39d678","type":"http request","z":"3cc84ecb.c337b2","name":"Get Solar Info","method":"GET","ret":"obj","url":"https://developer.nrel.gov/api/solar/solar_resource/v1.json?api_key=API_KEY&format=JSON&lat={{{payload.latitude}}}&lon={{{payload.longitude}}}","x":347.91661071777344,"y":606.8610067367554,"wires":[["789f0815.8760f8"]]},{"id":"789f0815.8760f8","type":"template","z":"3cc84ecb.c337b2","name":"Parse Solar Info","field":"","format":"json","template":"{ \"deviceId\": \"{{deviceId}}\",\n  \"avgSolarIrradiance\": \"{{payload.outputs.avg_dni.annual}}\"\n}","x":558.6666107177734,"y":606.8610315322876,"wires":[["84d66e11.7b299"]]},{"id":"84d66e11.7b299","type":"json","z":"3cc84ecb.c337b2","name":"","x":765.9166107177734,"y":606.8610067367554,"wires":[["6ebd2a49.9142d4","3d78c86d.12c788"]]},{"id":"b923b988.46dc48","type":"SmartSolarBatteryInputs","z":"3cc84ecb.c337b2","name":"getIrradiance","deviceId":"+","eventType":"getIrradiance","x":156.13883209228516,"y":672.3888540267944,"wires":[["c629894d.39d678"]]},{"id":"d8c0c028.273f4","type":"debug","z":"3cc84ecb.c337b2","name":"","active":false,"console":"false","complete":"true","x":796,"y":211,"wires":[]},{"id":"c3ff5a3c.3c00a8","type":"ibmiot in","z":"3cc84ecb.c337b2","authentication":"apiKey","apiKey":"93d60a50.6c29f8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"SmartSolarBattery","eventType":"getForecast","commandType":"","format":"json","name":"getForecast","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":130,"y":105,"wires":[["ab02e432.e53d3","beee407f.36862"]]},{"id":"d9364545.26c9b8","type":"ibmiot out","z":"3cc84ecb.c337b2","authentication":"apiKey","apiKey":"93d60a50.6c29f8","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"setForecast","format":"json","data":"0","name":"setForecast","service":"registered","x":1055,"y":212,"wires":[]},{"id":"44cf7826.bb3088","type":"http request","z":"3cc84ecb.c337b2","name":"get forecast.io","method":"GET","ret":"obj","url":"https://4d9de8c3-bcf9-4df5-9724-c12ca6335336:r1Kr6mi9gz@twcservice.mybluemix.net/api/weather/v2/forecast/daily/10day?units=m&geocode={{payload.latitude}}%2C{{payload.longitude}}&language=en-US","x":378,"y":184,"wires":[["873be0ed.4076a","e3f88806.9c24a8"]]},{"id":"1e69fccf.e19603","type":"json","z":"3cc84ecb.c337b2","name":"","x":741,"y":152,"wires":[["ff0a415a.00f5c"]]},{"id":"ff0a415a.00f5c","type":"function","z":"3cc84ecb.c337b2","name":"","func":"msg.payload.currentCond = msg.payload.currentCond.replace(\"&\",\" and \");\nreturn msg;","outputs":1,"noerr":0,"x":874,"y":101,"wires":[["5aa9fc86.a55604"]]},{"id":"5aa9fc86.a55604","type":"json","z":"3cc84ecb.c337b2","name":"","x":939,"y":152,"wires":[["d9364545.26c9b8"]]},{"id":"ab02e432.e53d3","type":"debug","z":"3cc84ecb.c337b2","name":"","active":false,"console":"false","complete":"false","x":333,"y":227,"wires":[]},{"id":"873be0ed.4076a","type":"debug","z":"3cc84ecb.c337b2","name":"","active":false,"console":"false","complete":"payload.metadata.forecasts[0]","x":599,"y":288,"wires":[]},{"id":"e3f88806.9c24a8","type":"function","z":"3cc84ecb.c337b2","name":"","func":"context.global.narrative = msg.payload.forecasts[0].narrative;\nmsg.payload = {'narrative' : context.global.narrative, 'latitude':context.global.lat,'longitude':context.global.lon};\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":204,"wires":[["7529f259.851db4","8dfe2158.7201e"]]},{"id":"7529f259.851db4","type":"debug","z":"3cc84ecb.c337b2","name":"","active":false,"console":"false","complete":"false","x":680,"y":242,"wires":[]},{"id":"ccf5c07c.fcde3","type":"function","z":"3cc84ecb.c337b2","name":"","func":"msg.payload = { 'narrative': context.global.narrative,\n                'temp': msg.payload.observation.metric.temp,\n                'phrase_32char' : msg.payload.observation.phrase_32char,\n                'sky_cover' : msg.payload.observation.sky_cover};\n                \nreturn msg;","outputs":1,"noerr":0,"x":572,"y":82,"wires":[["b6b1f141.494e1","6e3ec3d5.908304"]]},{"id":"6e3ec3d5.908304","type":"debug","z":"3cc84ecb.c337b2","name":"","active":true,"console":"false","complete":"false","x":708,"y":111,"wires":[]},{"id":"beee407f.36862","type":"function","z":"3cc84ecb.c337b2","name":"","func":"context.global.lat = msg.payload.latitude;\ncontext.global.lon = msg.payload.longitude;\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":139,"wires":[["44cf7826.bb3088"]]},{"id":"4773e50b.ee6dcc","type":"ibmiot out","z":"3cc84ecb.c337b2","authentication":"apiKey","apiKey":"93d60a50.6c29f8","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"setUtility","format":"json","data":"0","name":"setUtility","service":"registered","x":915,"y":447,"wires":[]},{"id":"3d78c86d.12c788","type":"ibmiot out","z":"3cc84ecb.c337b2","authentication":"apiKey","apiKey":"93d60a50.6c29f8","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"setIrradiance","format":"json","data":"0","name":"setIrradiance","service":"registered","x":927,"y":729,"wires":[]}]
