nodered/SHSBTab.txt
[{"id":"4f122a7a.b0edd4","type":"ibmiot","z":"b235842d.4dca78","name":"Solar API Key"},{"id":"55492ccd.aab6d4","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"payload","x":736,"y":57,"wires":[]},{"id":"46c80ba8.b937f4","type":"http response","z":"b235842d.4dca78","name":"","x":731.75,"y":215.75,"wires":[]},{"id":"1abb026b.e544fe","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"true","x":641.75,"y":511.75,"wires":[]},{"id":"c1d4aa1c.3e2b58","type":"function","z":"b235842d.4dca78","name":"","func":"var tmpArray = [];\nvar curID = msg.deviceId;\nvar found = false;\n\nif (context.global.deviceArrayInitialized!==true) {\n    context.global.deviceArray = tmpArray;\n    context.global.deviceArrayInitialized = true;\n}\n    \nfor (var i=0; i < context.global.deviceArray.length; i++){\n    if (context.global.deviceArray[i] === curID) { \n        found=true;\n        context.global.deviceArray[i+1] = msg.payload; \n    }\n}\nif (!found) {\n    context.global.deviceArray.push(curID,msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":563,"y":56,"wires":[["55492ccd.aab6d4"]]},{"id":"824fbef6.7db04","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"payload","x":759,"y":101,"wires":[]},{"id":"abe0fef7.541f","type":"function","z":"b235842d.4dca78","name":"","func":"var tmpArray = [];\nvar curID = msg.deviceId;\nvar found = false;\n\nif (context.global.batteryArrayInitialized!==true) {\n    context.global.batteryArray = tmpArray;\n    context.global.batteryArrayInitialized = true;\n}\n    \nfor (var i=0; i < context.global.batteryArray.length; i++){\n    if (context.global.batteryArray[i] === curID) { \n        found=true;\n        context.global.batteryArray[i+1] = msg.payload; \n    }\n}\nif (!found) {\n    context.global.batteryArray.push(curID,msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":563,"y":101,"wires":[["824fbef6.7db04"]]},{"id":"3e19ef07.c1e61","type":"json","z":"b235842d.4dca78","name":"","x":403,"y":56,"wires":[["c1d4aa1c.3e2b58"]]},{"id":"b40789b2.4bf878","type":"json","z":"b235842d.4dca78","name":"","x":403,"y":102,"wires":[["abe0fef7.541f"]]},{"id":"561720d8.a9e8e","type":"SmartSolarBatteryInputs","z":"b235842d.4dca78","name":"powerMode","deviceId":"+","eventType":"powerMode","x":325,"y":604,"wires":[["79694645.8696b8"]]},{"id":"79694645.8696b8","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"false","x":559,"y":603,"wires":[]},{"id":"f8cdb4d4.073248","type":"SmartSolarBatteryInputs","z":"b235842d.4dca78","name":"shading","deviceId":"+","eventType":"shading","x":252,"y":693,"wires":[["cf3d1d0b.30c2e"]]},{"id":"177c9297.e8836d","type":"SmartSolarBatteryInputs","z":"b235842d.4dca78","name":"degradation","deviceId":"+","eventType":"degradation","x":248,"y":753,"wires":[["cf3d1d0b.30c2e"]]},{"id":"43bb75f0.bc448c","type":"SmartSolarBatteryInputs","z":"b235842d.4dca78","name":"inverterClipping","deviceId":"+","eventType":"inverterClipping","x":239,"y":812,"wires":[["cf3d1d0b.30c2e"]]},{"id":"42d0b221.bd2f4c","type":"SmartSolarBatteryInputs","z":"b235842d.4dca78","name":"location","deviceId":"+","eventType":"location","x":247,"y":891,"wires":[["cf3d1d0b.30c2e"]]},{"id":"a802e210.57fd2","type":"debug","z":"b235842d.4dca78","name":"Analytics","active":false,"console":"false","complete":"payload","x":796,"y":917,"wires":[]},{"id":"cf3d1d0b.30c2e","type":"function","z":"b235842d.4dca78","name":"Perform Analytics","func":"\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":781,"wires":[["e86e9909.179168"]]},{"id":"e86e9909.179168","type":"function","z":"b235842d.4dca78","name":"Take Actions","func":"\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":859,"wires":[["a802e210.57fd2"]]},{"id":"2c47e513.d3b81a","type":"template","z":"b235842d.4dca78","name":"","field":"","format":"handlebars","template":"{\n   \"TIMESTAMP\" : \"TIMESTAMP\",\n   \"DEVICE_ID\" : \"{{deviceId}}\",\n   \"IRRADIANCE\" : \"{{payload.avgSolarIrradiance}}\",\n   \"SHADING\" : \"{{payload.shading}}\",\n   \"DEGRADATION\" : \"{{payload.degradation}}\",\n   \"INVERTERCLIPPING\" : \"{{payload.inverterClipping}}\",\n   \"BATTERYLIFE\" : \"{{payload.batteryLife}}\",\n   \"BATTERYAMBIENTTEMP\" : \"{{payload.batteryAmbientTemp}}\",\n   \"BATTERYBUSVOLTAGE\" : \"{{payload.batteryBusVoltage}}\",\n   \"BATTERYSHUNTVOLTAGE\" : \"{{payload.batteryShuntVoltage}}\",\n   \"BATTERYCURRENT\" : \"{{payload.batteryCurrent}}\",\n   \"BATTERYLOADVOLTAGE\" : \"{{payload.batteryLoadVoltage}}\",\n   \"SOLARBUSVOLTAGE\" : \"{{payload.solarBusVoltage}}\",\n   \"SOLARSHUNTVOLTAGE\" : \"{{payload.solarShuntVoltage}}\",\n   \"SOLARCURRENT\" : \"{{-payload.solarCurrent}}\",\n   \"SOLARLOADVOLTAGE\" : \"{{payload.solarLoadVoltage}}\"\n}","x":381,"y":1055,"wires":[["96066086.69f9a"]]},{"id":"96066086.69f9a","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"payload","x":734,"y":1056,"wires":[]},{"id":"ea987b41.156788","type":"function","z":"b235842d.4dca78","name":"1","func":"var tmpArray = [];\nvar curID = msg.deviceId;\nvar found = false;\n\nif (context.global.logDataArrayInitialized!==true) {\n    context.global.logDataArray = tmpArray;\n    context.global.logDataArray.length = 0;\n    context.global.logDataArrayInitialized = true;\n}\n    \nfor (var i=0; i < context.global.logDataArray.length; i++){\n    if (context.global.logDataArray[i] === curID) { \n        found=true;\n        context.global.logDataArray[i+1] = msg.payload; \n    }\n}\n\nif (!found) {\n   context.global.logDataArray.push(curID,msg.payload);\n}\nmsg.typ = typeof(msg.payload.d);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1158,"wires":[["95f69ebf.6a096"]]},{"id":"71fa6878.8e0598","type":"json","z":"b235842d.4dca78","name":"","x":537,"y":1139,"wires":[["ea987b41.156788"]]},{"id":"95f69ebf.6a096","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"true","x":869,"y":1137,"wires":[]},{"id":"f30637a2.0cf9c8","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"true","x":693,"y":1248,"wires":[]},{"id":"3bd72b17.c428d4","type":"ibmiot in","z":"b235842d.4dca78","authentication":"apiKey","apiKey":"4f122a7a.b0edd4","inputType":"evt","deviceId":"","applicationId":"","deviceType":"SmartSolarBattery","eventType":"status","commandType":"","format":"json","name":"status","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":false,"x":182,"y":60,"wires":[["3e19ef07.c1e61","526e98d.e050b68"]]},{"id":"e9de0598.1621f8","type":"ibmiot in","z":"b235842d.4dca78","authentication":"apiKey","apiKey":"4f122a7a.b0edd4","inputType":"evt","deviceId":"","applicationId":"","deviceType":"SmartSolarBattery","eventType":"batteryCharge","commandType":"","format":"json","name":"batteryCharge","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":187,"y":137,"wires":[["b40789b2.4bf878"]]},{"id":"25ee9c6.fda1164","type":"ibmiot in","z":"b235842d.4dca78","authentication":"apiKey","apiKey":"4f122a7a.b0edd4","inputType":"evt","deviceId":"","applicationId":"","deviceType":"SmartSolarBattery","eventType":"logData","commandType":"","format":"json","name":"logData","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","x":145,"y":1122,"wires":[["2c47e513.d3b81a","f30637a2.0cf9c8","a00e7c46.5ff18","a52efa6e.1d34b8"]]},{"id":"c4ef3b1.f3b10c8","type":"ibmiot out","z":"b235842d.4dca78","authentication":"apiKey","apiKey":"4f122a7a.b0edd4","outputType":"evt","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"turnOff","format":"json","data":"0","name":"TurnOff","service":"registered","x":755,"y":333,"wires":[]},{"id":"bc9fc9fc.436038","type":"ibmiot out","z":"b235842d.4dca78","authentication":"apiKey","apiKey":"4f122a7a.b0edd4","outputType":"evt","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"turnOn","format":"json","data":"0","name":"TurnOn","service":"registered","x":744,"y":157,"wires":[]},{"id":"7ee44b59.811bb4","type":"http in","z":"b235842d.4dca78","name":"","url":"/TurnOn","method":"get","swaggerDoc":"","x":228,"y":247,"wires":[["46c80ba8.b937f4","1abb026b.e544fe","4da5b1f7.b25a5"]]},{"id":"1494766e.eb6b8a","type":"http in","z":"b235842d.4dca78","name":"","url":"/TurnOff","method":"get","swaggerDoc":"","x":230,"y":323,"wires":[["46c80ba8.b937f4","1abb026b.e544fe","3f13aa86.c0ec56"]]},{"id":"72819d9f.8d7e64","type":"http in","z":"b235842d.4dca78","name":"","url":"/SetPowerMode","method":"get","swaggerDoc":"","x":220,"y":411,"wires":[["1abb026b.e544fe","46c80ba8.b937f4","7f175905.80e8a8"]]},{"id":"7f175905.80e8a8","type":"json","z":"b235842d.4dca78","name":"","x":584,"y":404,"wires":[["8c404e80.73bfb"]]},{"id":"3f13aa86.c0ec56","type":"json","z":"b235842d.4dca78","name":"","x":587,"y":327,"wires":[["c4ef3b1.f3b10c8"]]},{"id":"4da5b1f7.b25a5","type":"json","z":"b235842d.4dca78","name":"","x":544,"y":178,"wires":[["bc9fc9fc.436038"]]},{"id":"8c404e80.73bfb","type":"ibmiot out","z":"b235842d.4dca78","authentication":"apiKey","apiKey":"4f122a7a.b0edd4","outputType":"cmd","deviceId":"0","deviceType":"SmartHomeSolarBattery","eventCommandType":"SetPowerMode","format":"json","data":"0","name":"SetPowerMode","service":"registered","x":759,"y":402,"wires":[]},{"id":"a00e7c46.5ff18","type":"function","z":"b235842d.4dca78","name":"","func":"if (typeof(msg.payload.d) != 'undefined') {\n    msg.payload = msg.payload.d;\n}\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":1113,"wires":[["71fa6878.8e0598"]]},{"id":"a52efa6e.1d34b8","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"false","x":298,"y":1198,"wires":[]},{"id":"99552587.056e9","type":"inject","z":"b235842d.4dca78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":368,"wires":[["7f175905.80e8a8"]]},{"id":"526e98d.e050b68","type":"debug","z":"b235842d.4dca78","name":"","active":false,"console":"false","complete":"false","x":392,"y":20,"wires":[]}]
