nodered/UITab.txt
[{"id":"4aabaa3f.b55454","type":"ibmiot","z":"d30fc745.2cf038","name":"Solar API Key 2"},{"id":"f3b3e4d9.0c4c18","type":"http in","z":"d30fc745.2cf038","name":"","url":"/SmartHomeSolarBattery","method":"get","swaggerDoc":"","x":304,"y":50,"wires":[["e2fa5d69.1d05a"]]},{"id":"e2fa5d69.1d05a","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"html","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>IBM Smart Solar Energy System</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css\">\n  <script src=\"//code.jquery.com/jquery-1.10.2.js\"></script>\n  <script src=\"//code.jquery.com/ui/1.11.4/jquery-ui.js\"></script>\n </head>\n \n <body>\n\n\t<H1 style=\"text-align:center\">IBM Smart Solar Energy System</H1>\n\t<div class=\"btn-group\" style=\"text-align:center\">\n\t\t<button class=\"power\" id=\"power\" style=\"background: url('images/power.png') no-repeat; width: 125px; height: 125px;  border:none; background-size: 100%;\"></button>\t\n\t\t<button class=\"setSolar\" id=\"setSolar\" style=\"background: url('images/sun.png') no-repeat; width: 125px; height: 125px;  border:none; background-size: 100%;\"></button>\n\t\t<button class=\"setUtility\"  id=\"setUtility\" style=\"background: url('images/utility.png') no-repeat; width: 125px; height: 125px;  border:none; background-size: 100%;\"></button>\n\t\t<button class=\"refreshStatus\"  id=\"refreshStatus\" style=\"background: url('images/refresh.png') no-repeat; width: 125px; height: 125px;  border:none; background-size: 100%;\"></button>\n\t</div>\n\t\n\t<div class=\"dBat-group\" style=\"text-align:center\">\n\t    <H2><div class=\"batPercentage\">Battery Charge:</div></H2><img class=\"battery\" src=\"images/bat100.png\">\n\t</div>\n\t\n\t<div class=\"dGauge-group\" style=\"text-align:center\">\n\t    <H2><div class=\"gauges\">Power Measurements:</div></H2>\n\t    <table align=\"center\">\n\t        <tr>\n\t            <td id=\"vchart\" ></td>\n\t            <td id=\"bcchart\" ></td>\n\t            <td id=\"scchart\" ></td>\n\t        </tr>\n\t   </table>\n\t</div>\n\t\n\t<div class=\"dID-group\" style=\"text-align:center\">\n\t    <H2>Device ID:</H2><input type=\"text\" class=\"deviceID\" value=\"e84e061f5af1\">\n\t</div>\n\t\n\t<H2 style=\"text-align:center\">System Status Messages:</H2>\n\t<div style=\"text-align:center\"><textarea class=\"status\" rows=\"8\" cols=\"60\" style=\"font-size:16px\"></textarea></div>\n\t\n\t<H2 style=\"text-align:center\">System Measurements:</H2>\n\t<div style=\"text-align:center\"><textarea class=\"logData\" rows=\"8\" cols=\"60\" style=\"font-size:16px\"></textarea></div>\n\t\n\n<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>  \n<script>\nvar power = document.getElementById(\"power\");\nvar setSolar = document.getElementById(\"setSolar\");\nvar setUtility = document.getElementById(\"setUtility\");\nvar refreshStatus = document.getElementById(\"refreshStatus\");\nvar battery = document.getElementById(\"battery\");\nvar status = document.getElementById(\"status\");\nvar logData = document.getElementById(\"logData\");\nvar deviceID = document.getElementById(\"deviceID\");\nvar batteryV = 0;\nvar solarV = 0;\nvar batteryC = 0;\nvar solarC = 0;\n\n\nfunction getParam( name )\n{\n name = name.replace(/[\\[]/,\"\\\\\\[\").replace(/[\\]]/,\"\\\\\\]\");\n var regexS = \"[\\\\?&]\"+name+\"=([^&#]*)\";\n var regex = new RegExp( regexS );\n var results = regex.exec( window.location.href );\n if( results == null )\n  return \"\";\nelse\n return results[1];\n}\n\n    var dID = getParam( \"device_id\" );\n    if (dID !== \"\")\n    $('.deviceID').attr('value', dID);\n\n\nif ('ontouchstart' in document.documentElement) \n{\n\t$('.power').on('touchstart',function(){executeCommand(\"power\",power);});\n\t$('.power').on('touchend',function(){endCommand(\"power\",power);});\n\t$('.setSolar').on('touchstart',function(){executeCommand(\"setSolar\",setSolar);});\n\t$('.setSolar').on('touchend',function(){endCommand(\"setSolar\",setSolar);});\n\t$('.setUtility').on('touchstart',function(){executeCommand(\"setUtility\",setUtility);});\n\t$('.setUtility').on('touchend',function(){endCommand(\"setUtility\",setUtility);});\n    $('.refreshStatus').on('touchstart',function(){executeCommand(\"refreshStatus\",refreshStatus);});\n\t$('.refreshStatus').on('touchend',function(){endCommand(\"refreshStatus\",refreshStatus);});\n}\t\nelse\n{\n    \n\t$('.power').on('mousedown',function(){executeCommand(\"power\",power);});\n\t$('.power').on('mouseup',function(){endCommand(\"power\",power);});\n\t$('.setSolar').on('mousedown',function(){executeCommand(\"setSolar\",setSolar);});\n\t$('.setSolar').on('mouseup',function(){endCommand(\"setSolar\",setSolar);});\n\t$('.setUtility').on('mousedown',function(){executeCommand(\"setUtility\",setUtility);});\n\t$('.setUtility').on('mouseup',function(){endCommand(\"setUtility\",setUtility);});\n\t$('.refreshStatus').on('mousedown',function(){executeCommand(\"refreshStatus\",refreshStatus);});\n\t$('.refreshStatus').on('mouseup',function(){endCommand(\"refreshStatus\",refreshStatus);});\n}\n\n\nfunction executeCommand(command,control)\n{\n\n\tif (command == \"power\") {\n\t    $.get(\"/api/powerOff?deviceId=\" + $('.deviceID').val());\n\t}\n\tif (command == \"setSolar\") {\n\t    $.get(\"/api/setSolar?deviceId=\" + $('.deviceID').val());\n\t}\n\tif (command == \"setUtility\") {\n\t    $.get(\"/api/setUtility?deviceId=\" + $('.deviceID').val());\n\t}\n\n}\n\nfunction endCommand(command,control)\n{\n    console.log(\"End: \" + command);\n    $('.status').text(\"\");\n    setTimeout(\n        function() \n        {\n            $.get((\"/api/deviceOutput?deviceId=\" + $('.deviceID').val()), function(data){$('.status').text(data);});\n            $.get((\"/api/logDataOutput?deviceId=\" + $('.deviceID').val()), function(data){$('.logData').text(data);});\n            $.get(\"/api/batteryCharge?deviceId=\" + $('.deviceID').val(), function(data){\n                if (parseFloat(data) > 100) {\n                    $('div.batPercentage').html(\"Battery Charge : Charging\");\n                }\n                else {\n                    $('div.batPercentage').html(\"Battery Charge : \" + data + \"%\");\n                }\n                if (data >= 100) $('.battery').attr(\"src\",\"images/bat100.png\");\n                else if (data < 100 && data > 75) $('.battery').attr(\"src\",\"images/bat75.png\");\n                else if (data <= 75 && data > 50) $('.battery').attr(\"src\",\"images/bat50.png\");\n                else if (data <= 50 && data > 25) $('.battery').attr(\"src\",\"images/bat25.png\");\n                else if (data <= 25 && data > 10) $('.battery').attr(\"src\",\"images/bat10.png\");\n                else if (data <= 10 && data > 5) $('.battery').attr(\"src\",\"images/bat5.png\");\n                else if (data <= 5 && data >= 0) $('.battery').attr(\"src\",\"images/bat0.png\");\n                \n            });\n        }, 2000);\n}\n\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n\n        var vdata = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Battery V', 5],\n          ['Solar V', 5]\n        ]);\n        \n        var bcdata = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Battery mA', 2000]\n        ]);\n        \n        var scdata = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Solar mA', 200]\n        ]);\n\n        var vOptions = {\n          width: 400, height: 200,\n          min: 0.0, max: 6.0,\n          majorTicks: [\"0.0\",\"\",\"1.0\",\"\",\"2.0\",\"\",\"3.0\",\"\",\"4.0\",\"\",\"5.0\",\"\",\"6.0\"],\n          minorTicks: 5\n        };\n        \n        var bcOptions = {\n          width: 400, height: 200,\n          min: -900, max: 900,\n          majorTicks: [\"-900\",\"\",\"-600\",\"\",\"-300\",\"\",\"0\",\"\",\"300\",\"\",\"600\",\"\",\"900\"],\n          minorTicks: 5\n        };\n        \n        var scOptions = {\n          width: 400, height: 200,\n          min: 0, max: 1000,\n          majorTicks: [\"0\",\"\",\"200\",\"\",\"400\",\"\",\"600\",\"\",\"800\",\"\",\"1000\"],\n          minorTicks: 5\n        };\n\n        var vchart = new google.visualization.Gauge(document.getElementById('vchart'));\n        var bcchart = new google.visualization.Gauge(document.getElementById('bcchart'));\n        var scchart = new google.visualization.Gauge(document.getElementById('scchart'));\n\n        vchart.draw(vdata, vOptions);\n        bcchart.draw(bcdata, bcOptions);\n        scchart.draw(scdata, scOptions);\n        \n        setInterval(function() {\n          $.get((\"/api/batteryVoltage?deviceId=\" + $('.deviceID').val()), function(data){batteryV = data;});\n          vdata.setValue(0, 1, batteryV);\n          vchart.draw(vdata, vOptions);\n        }, 1000);\n        setInterval(function() {\n          $.get((\"/api/batteryCurrent?deviceId=\" + $('.deviceID').val()), function(data){batteryC = data;});\n          bcdata.setValue(0, 1, batteryC);\n          bcchart.draw(bcdata, bcOptions);\n        }, 1000);\n        setInterval(function() {\n          $.get((\"/api/solarVoltage?deviceId=\" + $('.deviceID').val()), function(data){solarV = data;});\n          vdata.setValue(1, 1, solarV);\n          vchart.draw(vdata, vOptions);\n        }, 1000);\n        setInterval(function() {\n          $.get((\"/api/solarCurrent?deviceId=\" + $('.deviceID').val()), function(data){solarC = data;});\n          scdata.setValue(0, 1, solarC);\n          scchart.draw(scdata, scOptions);\n        }, 1000);\n        setInterval(function() {\n         $.get(\"/api/batteryCharge?deviceId=\" + $('.deviceID').val(), function(data){\n                if (data > 100) {\n                    $('div.batPercentage').html(\"Battery Charge: Charging\");\n                }\n                else {\n                    $('div.batPercentage').html(\"Battery Charge: \" + data + \"%\");\n                }\n\n                if (data >= 100) $('.battery').attr(\"src\",\"images/bat100.png\");\n                else if (data < 100 && data > 75) $('.battery').attr(\"src\",\"images/bat75.png\");\n                else if (data <= 75 && data > 50) $('.battery').attr(\"src\",\"images/bat50.png\");\n                else if (data <= 50 && data > 25) $('.battery').attr(\"src\",\"images/bat25.png\");\n                else if (data <= 25 && data > 10) $('.battery').attr(\"src\",\"images/bat10.png\");\n                else if (data <= 10 && data > 5) $('.battery').attr(\"src\",\"images/bat5.png\");\n                else if (data <= 5 && data >= 0) $('.battery').attr(\"src\",\"images/bat0.png\");\n            });\n        }, 1000);\n      }\n      \n  </script>\n\n</body>\n</html>","x":584,"y":50,"wires":[["2677e129.d9881e"]]},{"id":"2677e129.d9881e","type":"http response","z":"d30fc745.2cf038","name":"","x":805,"y":50,"wires":[]},{"id":"4f949e82.b06b6","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/powerOn","method":"get","swaggerDoc":"","x":188,"y":137,"wires":[["8ada6e0b.75259","260a262a.d9f5da"]]},{"id":"b42da255.4bd26","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"false","x":830,"y":134,"wires":[]},{"id":"cf3abe47.30c54","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{ \"deviceId\": \"{{payload.deviceId}}\"\n}","x":549,"y":133,"wires":[["b42da255.4bd26","fc915c93.036ea"]]},{"id":"ecb989ef.134678","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/setSolar","method":"get","swaggerDoc":"","x":118,"y":446,"wires":[["fca21493.035de8","bba4d746.445b28","fbccf236.b55d8"]]},{"id":"543a33ee.abc5cc","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"json","template":"{\n    \"deviceId\": \"{{payload.deviceId}}\",\n    \"powerMode\": \"SOLAR\"\n}","x":617,"y":410,"wires":[["e854a400.17ab6","8caa23f2.7355e"]]},{"id":"e854a400.17ab6","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"true","x":851,"y":514,"wires":[]},{"id":"8ada6e0b.75259","type":"http response","z":"d30fc745.2cf038","name":"","x":502,"y":201,"wires":[]},{"id":"6c215494.93deac","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/setUtility","method":"get","swaggerDoc":"","x":140,"y":566,"wires":[["fca21493.035de8","aa0abb8a.55f548","fbccf236.b55d8"]]},{"id":"a2612ec7.5d9ed","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"json","template":"{\n    \"deviceId\": \"{{payload.deviceId}}\",\n    \"powerMode\": \"UTILITY\"\n}","x":612,"y":588,"wires":[["47827440.b87d8c","f0c3d0f3.0f3c3"]]},{"id":"47827440.b87d8c","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"true","x":933,"y":673,"wires":[]},{"id":"fca21493.035de8","type":"http response","z":"d30fc745.2cf038","name":"","x":492,"y":506,"wires":[]},{"id":"f4ce9bd5.0b3168","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/powerOff","method":"get","swaggerDoc":"","x":130.5,"y":284,"wires":[["8ada6e0b.75259","4b7462d3.b48b9c","3763ac79.c89c54"]]},{"id":"ca04c5f8.35fb38","type":"debug","z":"d30fc745.2cf038","name":"","active":true,"console":"false","complete":"true","x":781.5,"y":294,"wires":[]},{"id":"29110a9f.d6eef6","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{ \"deviceId\": \"{{payload.deviceId}}\" }","x":509.5,"y":312,"wires":[["ca04c5f8.35fb38","8ca407c5.735bf8"]]},{"id":"58b22b8a.a74dd4","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/deviceOutput","method":"get","swaggerDoc":"","x":117,"y":759,"wires":[["4587b28f.65985c","7d2420ef.82dbe"]]},{"id":"ce19b960.31e648","type":"http response","z":"d30fc745.2cf038","name":"","x":838,"y":724,"wires":[]},{"id":"7d2420ef.82dbe","type":"function","z":"d30fc745.2cf038","name":"","func":"var curID = msg.payload.deviceId;\nvar found = false;\n\nfor (var i=0; i < context.global.deviceArray.length; i++){\n    if (context.global.deviceArray[i] === curID) {\n        msg.payload = context.global.deviceArray[i+1];\n    }\n}\nmsg.payload = msg.payload.replace(\"#x2F;\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":701.3333129882812,"wires":[["7561139c.8a9eec","9476fbfc.339688"]]},{"id":"d62b5a99.29d4a8","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"payload","x":822,"y":807.3333129882812,"wires":[]},{"id":"eae74b55.1518b8","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"html","template":"Power Mode: {{payload.powerMode}}\nCurrent Temperature: {{payload.currentTemp}}C \nCurrent Conditions: {{payload.currentCond}}\nForecast: {{payload.forecast}}\nUtility Provider: {{payload.utility}}\nUtility Rate: {{payload.utilityRate}}/kWh","x":672,"y":732.3333129882812,"wires":[["ce19b960.31e648","d62b5a99.29d4a8"]]},{"id":"542de8f8.abd218","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/batteryCharge","method":"get","swaggerDoc":"","x":269,"y":892.3333358764648,"wires":[["42dcf191.bd231"]]},{"id":"b9f63836.4609c8","type":"http response","z":"d30fc745.2cf038","name":"","x":869,"y":891.3333587646484,"wires":[]},{"id":"42dcf191.bd231","type":"function","z":"d30fc745.2cf038","name":"","func":"var tmpArray = [];\nvar curID = msg.payload.deviceId;\nvar found = false;\n\nif (context.global.batteryArrayInitialized!==true) {\n    context.global.batteryArray = tmpArray;\n    context.global.batteryArrayInitialized = true;\n}\n\nfor (var i=0; i < context.global.batteryArray.length; i++){\n    if (context.global.batteryArray[i] === curID) {\n        msg.payload = context.global.batteryArray[i+1];\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":481,"y":891.6666717529297,"wires":[["2d6048db.d29fb8"]]},{"id":"15b1c42e.ea4e3c","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"payload","x":861,"y":949.6666488647461,"wires":[]},{"id":"ca73df22.358c2","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{{payload.batteryCharge}}","x":728,"y":890.6666488647461,"wires":[["b9f63836.4609c8","15b1c42e.ea4e3c"]]},{"id":"7561139c.8a9eec","type":"json","z":"d30fc745.2cf038","name":"","x":522,"y":689.3333129882812,"wires":[["eae74b55.1518b8"]]},{"id":"2d6048db.d29fb8","type":"json","z":"d30fc745.2cf038","name":"","x":607,"y":892.3333358764648,"wires":[["ca73df22.358c2"]]},{"id":"df8b1ce3.2074e","type":"http response","z":"d30fc745.2cf038","name":"","x":651,"y":1070.3333358764648,"wires":[]},{"id":"1c35b234.e3ca4e","type":"http in","z":"d30fc745.2cf038","name":"SmartSolarSystemLocations","url":"/SmartSolarSystemLocations","method":"get","swaggerDoc":"","x":268,"y":1070.3333358764648,"wires":[["da46679f.25b998"]]},{"id":"da46679f.25b998","type":"template","z":"d30fc745.2cf038","name":"","field":"payload","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>Smart Solar Energy Systems</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(-33.8,151.370122);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  \n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  var marker1 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(-33.38,151.402091),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: BC4207E734D2 (virtual)\"\n\t\t  });\n\t\t  var marker2 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(-33.43,151.387581),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 3B54D78D82AC (virtual)\"\n\t\t  });\n\n\t\t  var marker3 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(-33.829142,151.206679),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: e84e061f5af1 (raspberry pi)\"\n\t\t  });\n\t\t  \n\t\t  var marker4 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(-33.444107,151.11009),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 9BFE55EB0C94 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker5 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(33.425771,-111.85163),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 230FE9025C25 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker6 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(32.235244,-110.943206),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: B220F39C0EC0 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker7 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(33.444107,-111.71009),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker8 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(33.425771,-111.99163),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker9 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(32.435244,-110.943206),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker10 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(32.136244,-110.743206),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\t\t  \n\t\t  var marker11 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(42.190478,-71.202091),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\t\t  var marker12 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(41.721865,-70.387581),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\n\t\t  var marker13 = new google.maps.Marker({\n\t\t    position: new google.maps.LatLng(42.029142,-72.306679),\n\t\t    map: map,\n\t\t    animation: google.maps.Animation.DROP,\n\t\t    title: \"DeviceID: 000000000000 (virtual)\"\n\t\t  });\n\t\t  \n\t      marker1.addListener('click', function() {\n            window.location.href = \"/SmartHomeSolarBattery?device_id=BC4207E734D2\";\n          });\n          marker2.addListener('click', function() {\n            window.location.href = \"/SmartHomeSolarBattery?device_id=3B54D78D82AC\";\n          });\n          marker3.addListener('click', function() {\n            window.location.href = \"/SmartHomeSolarBattery?device_id=e84e061f5af1\";\n          });\n          marker4.addListener('click', function() {\n            window.location.href = \"/SmartHomeSolarBattery?device_id=9BFE55EB0C94\";\n          });\n          marker5.addListener('click', function() {\n            window.location.href = \"/SmartHomeSolarBattery?device_id=230FE9025C25\";\n          });\n          marker6.addListener('click', function() {\n            window.location.href = \"/SmartHomeSolarBattery?device_id=B220F39C0EC0\";\n          });\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":486,"y":1070.3333358764648,"wires":[["df8b1ce3.2074e"]]},{"id":"f5d654bd.0a29a8","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/logDataOutput","method":"get","swaggerDoc":"","x":265,"y":1188.3333358764648,"wires":[["5fa268ee.a05d98"]]},{"id":"62004bf9.9dffb4","type":"http response","z":"d30fc745.2cf038","name":"","x":895,"y":1187.3333358764648,"wires":[]},{"id":"5fa268ee.a05d98","type":"function","z":"d30fc745.2cf038","name":"","func":"var curID = msg.payload.deviceId;\nvar found = false;\n\nfor (var i=0; i < context.global.logDataArray.length; i++){\n    if (context.global.logDataArray[i] === curID) {\n        msg.payload = context.global.logDataArray[i+1];\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":1189.666648864746,"wires":[["478cb1ae.b8735"]]},{"id":"7e921479.816dec","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"payload","x":848,"y":1258.666648864746,"wires":[]},{"id":"690bb0d2.96f45","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"html","template":"--------------KPI Scores--------------\nAverage Solar Irradiance : {{payload.avgSolarIrradiance}}kWh/m2/day \nShading : {{payload.shading}}\nDegradation : {{payload.degradation}}\nInverter Clipping : {{payload.inverterClipping}}\nBattery Life : {{payload.batteryLife}}\n\n--------------Electrical Measurements--------------\nBattery Bus Voltage : {{payload.batteryBusVoltage}}V\nBattery Shunt Voltage : {{payload.batteryShuntVoltage}}mV\nBattery Current : {{payload.batteryCurrent}}mA\nBattery Load Voltage : {{payload.batteryLoadVoltage}}V\nSolar Bus Voltage : {{payload.solarBusVoltage}}V\nSolar Shunt Voltage : {{payload.solarShuntVoltage}}mV\nSolar Current : {{payload.solarCurrent}}mA\nSolar Load Voltage : {{payload.solarLoadVoltage}}V\n","x":749,"y":1188.666648864746,"wires":[["62004bf9.9dffb4","7e921479.816dec"]]},{"id":"478cb1ae.b8735","type":"json","z":"d30fc745.2cf038","name":"","x":610,"y":1187.666648864746,"wires":[["690bb0d2.96f45"]]},{"id":"230e241c.dcf1dc","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/batteryVoltage","method":"get","swaggerDoc":"","x":265,"y":1377.3333358764648,"wires":[["6a8efa6d.957104"]]},{"id":"f7b3f3b7.084c1","type":"http response","z":"d30fc745.2cf038","name":"","x":865,"y":1376.3333587646484,"wires":[]},{"id":"6a8efa6d.957104","type":"function","z":"d30fc745.2cf038","name":"","func":"var curID = msg.payload.deviceId;\nvar found = false;\n\nfor (var i=0; i < context.global.logDataArray.length; i++){\n    if (context.global.logDataArray[i] === curID) {\n        msg.payload = context.global.logDataArray[i+1];\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":458,"y":1377.6667098999023,"wires":[["7436da59.8bc924"]]},{"id":"e129902f.1ed67","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"payload","x":857,"y":1434.666648864746,"wires":[]},{"id":"12ee208b.ed11df","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{{payload.batteryBusVoltage}}","x":724,"y":1375.666648864746,"wires":[["f7b3f3b7.084c1","e129902f.1ed67"]]},{"id":"7436da59.8bc924","type":"json","z":"d30fc745.2cf038","name":"","x":603,"y":1377.3333358764648,"wires":[["12ee208b.ed11df"]]},{"id":"b869b0dc.47965","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/solarVoltage","method":"get","swaggerDoc":"","x":268,"y":1525.3333358764648,"wires":[["6a304b03.95cfb4"]]},{"id":"1316c567.ece93b","type":"http response","z":"d30fc745.2cf038","name":"","x":868,"y":1524.3333587646484,"wires":[]},{"id":"6a304b03.95cfb4","type":"function","z":"d30fc745.2cf038","name":"","func":"var curID = msg.payload.deviceId;\nvar found = false;\n\nfor (var i=0; i < context.global.logDataArray.length; i++){\n    if (context.global.logDataArray[i] === curID) {\n        msg.payload = context.global.logDataArray[i+1];\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":461,"y":1525.6667098999023,"wires":[["3724ea27.c8db16"]]},{"id":"c5e0e396.3a1f2","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"payload","x":860,"y":1582.666648864746,"wires":[]},{"id":"6376e2d6.9c891c","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{{payload.solarBusVoltage}}","x":727,"y":1523.666648864746,"wires":[["1316c567.ece93b","c5e0e396.3a1f2"]]},{"id":"3724ea27.c8db16","type":"json","z":"d30fc745.2cf038","name":"","x":606,"y":1525.3333358764648,"wires":[["6376e2d6.9c891c"]]},{"id":"a4d579f4.5b2a88","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/batteryCurrent","method":"get","swaggerDoc":"","x":262,"y":1657.3333358764648,"wires":[["9f676705.609898"]]},{"id":"20b1c92a.df4e36","type":"http response","z":"d30fc745.2cf038","name":"","x":862,"y":1656.3333587646484,"wires":[]},{"id":"9f676705.609898","type":"function","z":"d30fc745.2cf038","name":"","func":"var curID = msg.payload.deviceId;\nvar found = false;\n\nfor (var i=0; i < context.global.logDataArray.length; i++){\n    if (context.global.logDataArray[i] === curID) {\n        msg.payload = context.global.logDataArray[i+1];\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":455,"y":1657.6667098999023,"wires":[["796fa77d.869058","b1408287.4ebf8"]]},{"id":"b1408287.4ebf8","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"payload","x":854,"y":1714.666648864746,"wires":[]},{"id":"d55ab37c.2aa55","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{{payload.batteryCurrent}}","x":721,"y":1655.666648864746,"wires":[["20b1c92a.df4e36","b1408287.4ebf8"]]},{"id":"796fa77d.869058","type":"json","z":"d30fc745.2cf038","name":"","x":600,"y":1657.3333358764648,"wires":[["d55ab37c.2aa55"]]},{"id":"c2646784.3d9b98","type":"http in","z":"d30fc745.2cf038","name":"","url":"/api/solarCurrent","method":"get","swaggerDoc":"","x":158,"y":1770.3333740234375,"wires":[["9ebbb69c.614448"]]},{"id":"60139f.ff9fec6","type":"http response","z":"d30fc745.2cf038","name":"","x":850,"y":1793.3333740234375,"wires":[]},{"id":"9ebbb69c.614448","type":"function","z":"d30fc745.2cf038","name":"","func":"var curID = msg.payload.deviceId;\nvar found = false;\n\nfor (var i=0; i < context.global.logDataArray.length; i++){\n    if (context.global.logDataArray[i] === curID) {\n        msg.payload = context.global.logDataArray[i+1];\n    }\n}\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":244,"y":1871.666748046875,"wires":[["bd04b132.42fb5"]]},{"id":"9835557.f67caa8","type":"template","z":"d30fc745.2cf038","name":"","field":"","format":"handlebars","template":"{{payload.solarCurrent}}","x":672,"y":1755.6666259765625,"wires":[["60139f.ff9fec6"]]},{"id":"55c5d345.aa3a2c","type":"function","z":"d30fc745.2cf038","name":"3","func":"if (msg.payload.solarCurrent < 0) {\n    msg.payload.solarCurrent = -msg.payload.solarCurrent; \n}\nreturn msg;","outputs":1,"noerr":0,"x":531,"y":1761,"wires":[["9835557.f67caa8"]]},{"id":"bd04b132.42fb5","type":"json","z":"d30fc745.2cf038","name":"","x":409,"y":1821,"wires":[["55c5d345.aa3a2c"]]},{"id":"8caa23f2.7355e","type":"ibmiot out","z":"d30fc745.2cf038","authentication":"apiKey","apiKey":"4aabaa3f.b55454","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"setPowerMode","format":"json","data":"0","name":"IBM IoT App Out","service":"registered","x":1018,"y":464,"wires":[]},{"id":"f0c3d0f3.0f3c3","type":"ibmiot out","z":"d30fc745.2cf038","authentication":"apiKey","apiKey":"4aabaa3f.b55454","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"setPowerMode","format":"json","data":"0","name":"setPowerMode","service":"registered","x":949,"y":609,"wires":[]},{"id":"fc915c93.036ea","type":"ibmiot out","z":"d30fc745.2cf038","authentication":"apiKey","apiKey":"4aabaa3f.b55454","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"turnOn","format":"json","data":"0","name":"turnOn","service":"registered","x":835,"y":248,"wires":[]},{"id":"8ca407c5.735bf8","type":"ibmiot out","z":"d30fc745.2cf038","authentication":"apiKey","apiKey":"4aabaa3f.b55454","outputType":"cmd","deviceId":"0","deviceType":"SmartSolarBattery","eventCommandType":"turnOff","format":"json","data":"0","name":"turnOff","service":"registered","x":959,"y":363,"wires":[]},{"id":"4b7462d3.b48b9c","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"true","x":578,"y":249,"wires":[]},{"id":"3763ac79.c89c54","type":"function","z":"d30fc745.2cf038","name":"Add deviceId","func":"msg = {deviceId: msg.payload.deviceId,\n    payload: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":339,"wires":[["29110a9f.d6eef6"]]},{"id":"bba4d746.445b28","type":"function","z":"d30fc745.2cf038","name":"Add deviceId","func":"msg = {deviceId: msg.payload.deviceId,\n    payload: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":423,"wires":[["543a33ee.abc5cc"]]},{"id":"aa0abb8a.55f548","type":"function","z":"d30fc745.2cf038","name":"Add deviceId","func":"msg = {deviceId: msg.payload.deviceId,\n    payload: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":607,"wires":[["a2612ec7.5d9ed"]]},{"id":"260a262a.d9f5da","type":"function","z":"d30fc745.2cf038","name":"Add deviceId","func":"msg = {deviceId: msg.payload.deviceId,\n    payload: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":125,"wires":[["cf3abe47.30c54"]]},{"id":"b536eecc.4ac91","type":"json","z":"d30fc745.2cf038","name":"","x":771,"y":350,"wires":[[]]},{"id":"6b0b008a.94f5","type":"ibmiot in","z":"d30fc745.2cf038","authentication":"apiKey","apiKey":"4aabaa3f.b55454","inputType":"cmd","deviceId":"","applicationId":"","deviceType":"SmartSolarBattery","eventType":"+","commandType":"turnOff","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":true,"x":214,"y":981,"wires":[["a47c953d.5b8368"]]},{"id":"d763267e.289cd8","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"false","x":593,"y":966,"wires":[]},{"id":"a47c953d.5b8368","type":"function","z":"d30fc745.2cf038","name":"","func":"msg.payload.cc = decodeURIComponent(msg.payload.currentCond);\nreturn msg;","outputs":1,"noerr":0,"x":425,"y":980,"wires":[["d763267e.289cd8"]]},{"id":"fbccf236.b55d8","type":"debug","z":"d30fc745.2cf038","name":"","active":false,"console":"false","complete":"true","x":239,"y":497,"wires":[]},{"id":"4587b28f.65985c","type":"debug","z":"d30fc745.2cf038","name":"","active":true,"console":"false","complete":"false","x":358,"y":816,"wires":[]},{"id":"9476fbfc.339688","type":"debug","z":"d30fc745.2cf038","name":"","active":true,"console":"false","complete":"false","x":497,"y":754,"wires":[]}]
